@media (max-width: 995px) and (max-height: 900px) {
    *{
        font-size: 12px; /* Adjust font size for small screens */
    }
    
}

@media (max-width: 690px) and (max-height: 950px) {
    *{
        font-size: 8px; /* Adjust font size for small screens */
    }
    #Xbtn{
        margin-top: 8px;
    }
    
}

@media (max-width: 395px) and (max-height: 900px) {
    *{
        font-size: 7px; /* Adjust font size for small screens */
    }
    #Xbtn{
        margin-top: 7px;
    }
    h5{
        margin-top: 10px;
    }
}

